div.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(146, 247, 216);
}

button {
  display:inline-block;
  width: 350px;
  height: 65px;
  border:0.16em solid #979494c4;
  margin:.5rem 5em .7em 5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#ffffff;
  font-weight: bold;
  padding: 7px 12px 7px 12px ;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0px 1px 5px 2px #888888;
  text-align:center;
  transition: all 0.15s;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(75, 75, 75);
  color: rgb(153, 149, 149);
  transition: .75s;
}

div .rst-btn {
  background-color: rgb(196, 184, 183);
  width: 175px;
  font-size: 18px;
  height: 45px;
}

.board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 1.7rem;
}