.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: block;
    font-size: 45px;
    margin: 5rem 0 5rem 0;
}

.red {
  background-color: rgb(240, 72, 72);
  font-size: 28px;
}

.green {
  background-color: rgb(125, 240, 72);
  font-size: 28px;
}